<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}
  </div>
  <main class="container" style="padding-top: 3em;">
    <div class="row">
      <div class="col-md-9">
        {{ content }}
      </div>
      <div class="col-md-3">
        <div class="p-4">
          {% include twitter-timeline.html %}
        </div>
        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            {% include component/archives.html %}
          </ol>
        </div>
      </div>
    </div>
  </main>

  {% include footer.html %}

</body>

</html>