---
layout: default
---

<div class="blog-content">
  <article class="blog-article">
    <h2 class="blog-title">{{ page.title }}</h2>
    <p class="blog-date">{{ page.date | date: "%B %-d, %Y" }}</p>
    {% if page.description %}
    <p class="blog-description">{{ page.description }}</p>
    {% endif %}
    
    <div class="post-content">
        {{ content }}
    </div>

    {% if page.tags and page.tags.size > 0 %}
    <footer class="post-tags">
        {% for tag in page.tags %}
            <a href="/tags/{{ tag | slugify }}" class="tag">{{ tag }}</a>
        {% endfor %}
    </footer>
    {% endif %}
  </article>
</div>